body{
    background-color:#949A9D;
}

header{
    background-color:#2A313A;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: #F0A71E;
}

footer {
    background-color:#2A313A;
    text-align: end;
    padding: 20px;
    font-size: 35px;
    color: #F0A71E;    
}


/*
Color palette: #2A313A;
#6B6D76; #F0A71E; #$F0F2F1; #949A9D;
*/